/* #767676 */
:root {
    --gray-font: #767676;
    --gray-border: #DBDBDB;
    --orange: #F26E22;
}

/* Screen Reader Only */
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* Reset CSS */
button {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
}

/* Style */
/* sticky header css 아래 참고 */
/* https://velog.io/@nooroong/%EC%8A%A4%ED%81%AC%EB%A1%A4%EC%97%90-%EB%B0%98%EC%9D%91%ED%95%98%EB%8A%94-sticky-header-%EB%A7%8C%EB%93%A4%EA%B8%B0 */

/* profile head */
.profile-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 12px 0 16px;
    border-bottom: 0.5px solid var(--gray-border);
}

.profile-head .back-btn {
    width: 22px;
    height: 22px;
}

.profile-head .moremenu-btn {
    width: 24px;
    height: 24px;
}

/* profile main */
/* profile info style */
.profile-main .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 26px;
    border-bottom: 0.5px solid var(--gray-border);
}

.profile-info .info-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-head div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-head .follow-count {
    font-size: 18px;
    font-weight: 700;
}

.info-head .follow-type {
    font-size: 10px;
    color: var(--gray-font);
}

.info-head .user-image {
    box-sizing: border-box;
    width: 110px;
    height: 110px;
    border: 1px solid var(--gray-border);
    border-radius: 50%;
}

.profile-info .info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 32px
}

.info-main .user-name {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 700;
}

.info-main .user-id {
    margin-bottom: 16px;
    font-size: 12px;
    color: var(--gray-font);
}

.info-main .user-intro {
    font-size: 14px;
    color: var(--gray-font);
}

.profile-info .info-foot {
    display: flex;
    align-items: center;
}

.info-foot .circle-btn {
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    border: 1px solid var(--gray-border);
    border-radius: 50%;
    padding: 6px;
}

.info-foot .follow-btn {
    box-sizing: border-box;
    width: 120px;
    height: 34px;
    margin: 0 10px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--orange);
    color: #FFFFFF;
}

.info-foot .unfollow-btn {
    display: none;
    background-color: #FFFFFF;
    color: var(--gray-font);
    border: 1px solid var(--gray-border);
}

/* sale info style */
.profile-main .sale-info {
    padding: 20px 20px 15px;
    border-bottom: 0.5px solid var(--gray-border);
}

.sale-info .sale-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

/* #### 말줄임 처리해야함 ####*/
.sale-info .sale-list {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 5px;
}

.sale-info .sale-list li + li{
    margin-left: 10px;
}

.sale-list .sale-product{
    width: 140px;
}

.sale-list .sale-product .product-image{
    box-sizing: border-box;
    width: 140px;
    height: 90px;
    margin-bottom: 6px;
    border: 0.5px solid var(--gray-border);
    border-radius: 8px;
}

.sale-list .sale-product .product-name{
    font-size: 14px;
    margin-bottom: 4px;
}

.sale-list .sale-product .product-price{
    font-size: 12px;
    font-weight: 700;
    color: var(--orange);
}

/* post info style */
.post-info .post-head {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 44px;
    border-bottom: 0.5px solid var(--gray-border);
}

.post-head .show-album {
    margin: 0 16px;
}

.post-info .post-main {
    padding: 16px;
}

/* posting type - list */
.post-main .post-list {
    /* display: none; */
}

.post-main .post-list li + li{
    margin-top: 16px
}

.post-list .post {
    display: flex;
    flex-direction: column;
}

.post .content-head {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.post .content-head .user-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}

.post .content-head .user-id {
    font-size: 12px;
    color: var(--gray-font);
}

.post .content-head .user-image {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    margin-right: 12px;
    border: 0.5px solid var(--gray-border);
    border-radius: 50%;
}

.post .content-head .moremenu-btn {
    position: absolute;
    right: 4px;
    top: 4px;
}

.post .content-main {
    margin-left: 54px;
}

.post .content-main .post-content {
    font-size: 14px;
}

.post .content-main .post-image{
    box-sizing: border-box;
    width: 100%;
    margin: 16px 0;
    border: 0.5px solid var(--gray-border);
    border-radius: 10px;
}

.post .content-main .post-response {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post .content-main .post-response button {
    margin-right: 8.5px;
}

.post .content-main .post-response .heart-count {
    margin-right: 18.5px;
}

/* posting type - album */
.post-main .post-album {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
}

.post-main .post-album img{
    background-color: orange;
    width: 100%;
    height: 100%;
}