// @at-root
// 중첩이 너무 많이 사용되었을 때 사용하여 중첩에서 벗어나기
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .article-content {
    font-size: 14px;
    opacity: 0.7;
    @at-root i {
      opacity: 0.5;
    }
  }
}