// 지역변수
.info{
    $line-normal : 1.34;
    font-size : 15px;
    line-height : $line-normal;
    text-align : right;
    span{
        line-height : $line-normal;
    }
}

// 지역변수는 해당 nest 안에서만 적용
div {
    color: red;
    line-height: $line-normal;
}